EMBEDDING_MODEL=mxbai-embed-large
CHAT_MODEL=llama3.2:3b
MODEL_PROVIDER=ollama

DATABASE_LOCATION=chroma_db
COLLECTION_NAME=rag_data
DATASET_STORAGE_FOLDER=datasets/

BRIGHTDATA_API_KEY=your_api_key_here
SNAPSHOT_STORAGE_FILE=snapshot.txt
